* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    background-color: rgb(213, 225, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 16px;
    align-content: end;

}

.qr-container {
    width: 288px;
    height: 288px;
    background-color: #2C7DFA;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 10px;
    margin-bottom: 8px;
    overflow: hidden;

    
}

.qr-container::after {
    content: "";
    width: 328px;
    height: 328px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.1;
    z-index: 2;
    position: absolute;
    top: -152px;
    left: -136px;
}

.qr-container::before {
    content: "";
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.1;
    z-index: 2;
    position: absolute;
    top: 211px;
    left: 121px;
}

img {
    

    position: absolute;
    top: 64px;
    left: 64px;
    z-index: 1;
}

.p1 {
    font-size: 22px;
    font-weight: 700;
    color: #1F314F;
    margin: 16px;
}

.p2 {
    font-size: 15px;
    color: #68778D;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
}
